.heart-rate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    height: 100vh; 
}

.bpm-header {
    font-size: 4rem; 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.heart {
    fill: #f03e65;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    animation: pulse 1.5s ease infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

.chart-container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.timestamp-text {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #ffffff;
}

/* Navigation Bar */
.nav2bar {
    position: absolute;  /* Ensures it's positioned relative to the screen */
    top: 20px;  /* Position from the top */
    right: 20px; /* Position from the right */
    display: flex;
    align-items: center;
}

.nav2bar-buttons {
    display: flex;
    gap: 10px;
}

.nav2-button,
.logout-button {
    background-color: #1e3a8a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.nav2-button:hover,
.logout-button:hover {
    background-color: #162d5a;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.date-select {
    width: 200px;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.date-range-text {
    font-size: 0.95rem;
    color: #ccc;
    margin-top: 0.25rem;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
